@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}
<h1>PassUsingViewBag</h1>

<div>
   <p><b>Rand value first: @ViewBag.X</b></p>
</div>

<div>
    <p><b>Rand value second: @ViewBag.Y</b></p>
</div>

<div>
    <p><b>Add:</b></p>
    <p>@ViewBag.Add</p>
</div>

<div>
    <p><b>Sub:</b></p>
    <p>@ViewBag.Sub</p>
</div>

<div>
    <p><b>Mult:</b></p>
    <p>@ViewBag.Mult</p>
</div>

<div>
    <p><b>Div:</b></p>
    <p>@ViewBag.Div</p>
</div>