@{
    ViewBag.Title = "PassUsingViewData - Backend1";
}
<h1>PassUsingViewBag</h1>


<div>
   <p><b>Rand value first: @ViewData["X"]</b></p>
</div>

<div>
    <p><b>Rand value second: @ViewData["Y"]</b></p>
</div>

<div>
    <p><b>Add:</b></p>
    <p>@ViewData["Add"]</p>
</div>

<div>
    <p><b>Sub:</b></p>
    <p>@ViewData["Sub"]</p>
</div>

<div>
    <p><b>Mult:</b></p>
    <p>@ViewData["Mult"]</p>
</div>

<div>
    <p><b>Div:</b></p>
    <p>@ViewData["Div"]</p>
</div>