@model WebApp2._1.Models.CalculatorViewModel
@{
    ViewBag.Title = "PassUsingModel - Backend1";
}
<h1>PassUsingModel</h1>

<div>
   <p><b>Rand value first: @Model.X</b></p>
</div>

<div>
    <p><b>Rand value second: @Model.Y</b></p>
</div>

<div>
    <p><b>Add:</b></p>
    <p>@Model.Add</p>
</div>

<div>
    <p><b>Sub:</b></p>
    <p>@Model.Sub</p>
</div>

<div>
    <p><b>Mult:</b></p>
    <p>@Model.Mult</p>
</div>

<div>
    <p><b>Div:</b></p>
    <p>@Model.Div</p>
</div>

